/* style/intro.css */
.intro-section {
  padding: 8rem 2rem 4rem;
  /* account for fixed header */
  text-align: center;
}

.intro-avatar {
  width: 150px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.intro-section h1 {
  margin: 0.5rem 0;
}